@import url(reset.css);

:root {
  --app-bg: #f2f3f4;
  --app-bg-blue: #3487f3;
  --app-bg-orange: #d47215;
  --app-bg-purple: #6a1fc0;
  --app-bg-dark: #1c1c1c;
  --app-header-bg: #46474d;
  --app-bg-green: #4dcc3c;
  --app-blue-hover: #4896fc;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
  --app-text: #e0d9d9;
}

body {
  background-color: var(--app-bg-dark);
  overflow-y: hidden;
}

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
  height: 100vh;
  display: flex;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Body                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - */

.info {
  text-align: center;
  margin: 3rem;
  padding: 10px;
  justify-content: space-between;
}

.title {
  justify-content: left;
  color: var(--app-bg-blue);
}

.title span {
  color: var(--app-red);
}

.info p {
  background-color: var(--app-header-bg);
  border-radius: 35px;
  width: 5vw;
  min-width: 180px;
  margin: 10px;
  color: #fff;
  text-align: center;
  height: auto;
}

.button {
  color: #fff;
  font-weight: 600;
  border-radius: 25px;
  height: 45px;
  width: 110px;
  padding: 7px;
  cursor: pointer;
  transition: all 0.33 ease-in-out;
}

.start {
  background-color: #4dcc3c;
}

.start:hover {
  background-color: #64e054;
}

.reset {
  display: none;
  background-color: var(--app-bg-blue);
}

.reset:hover {
  background-color: var(--app-blue-hover);
}

.game {
  margin-top: -7vh;
  height: 100vh;
  width: 100vw;
  place-items: center;
}

.content {
  width: 350px;
  gap: 40px;
  place-items: center;
  overflow: hidden;
}

.textField {
  display: none;
  background-color: var(--app-header-bg);
  color: #fff;
  border-radius: 35px;
  padding: 8px;
  min-width: 180px;
  min-height: 45px;
  text-align: center;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

.guessBox:focus {
  border: 1px solid rgb(255, 255, 255, 0.45);
}

.guessBox.correct {
  border: 1px solid #4dcc3c;
}

.guessBox.incorrect {
  border: 1px solid #ff3c57;
}

h1 {
  color: #fff;
}

.scoreSheet {
  display: none;
  position: absolute;
  top: calc(45% - 130px);
  left: calc(45% - 130px);
  height: clamp(300px, 27vh, 250px);
  width: clamp(300px, 27vw, 500px);
  text-align: center;
}

.results {
  background-color: var(--app-header-bg);
  color: #fff;
  padding: 50px;
}

.fa-xmark {
  font-size: 1.4rem;
  padding: 5px;
  position: absolute;
  color: #ff0000;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.fa-xmark:hover {
  transform: scale(1.1);
  color: var(--app-red-hover)
}

.head {
  font-weight: 600;
  font-size: 2rem;
}

.scoreBoard {
  min-width: 25%;
  position: absolute;
  right: 4.3%;
  background-color: var(--app-header-bg);
  text-align: center;
}

.scoreBoard p {
  width: 100%;
  font-size: 1.75rem;
  font-weight: 600;
  padding: 5px;
  color: #fff;
}

.scoreBoard ul li {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 1px solid #fff;
  padding: 10px;
  display: inline-flex;
  justify-content: space-between;
  min-width: 30%;
}

.scoreBoard ul li + li {
  margin-top: 10px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* End of body                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - */

@media (max-width: 720px) {
  .info {
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
}
